- var socials = ['fb', 'vk', 'tw']
- var socialsLinks = {fb: 'facebook.com/cooltech', vk: 'vk.com/cooltech', tw: 'twitter.com/cooltech'}
- var extras = ['Карта проезда', 'История заказов', 'Корзина']
- var bcrumbs = ['Главная', 'Каталог']
- var mainNav = ['Планшеты', 'Мобильные телефоны', 'MP3-плееры', 'Персональные компьютеры', 'Ноутбуки', 'Аксессуары', 'Бытовая техника']
- var colors = ['white', '#cccccc', 'black', '#0a3153', '#ff1800', '#fff343', '#fb914a', '#92c37c', '#40a6ff', '#9870ad', '#dc78ad', '#7f401d']
- var os = ['Android', 'iOS', 'Windows Mobile', 'Symbian', 'Custom']
- var brands = ['Lenovo', 'Apple', 'Samsung', 'Asus', 'Motorola']
- var colors = ['Красный', 'Желтый', 'Зеленый']

mixin filterLeft(mainBlock, headnigText, fieldsetInputType, fieldsetLabelNames)
	div(class="#{mainBlock}")
		h3(class="#{mainBlock}__heading content-heading") #{headingText}
			span.heading-arrow
		fieldset(class="#{mainBlock}__filter cooltech-accordeon")
			each labelName in fieldsetLabelNames
				label(class="#{mainBlock}__filter-label") #{labelName}
					input(class="#{mainBlock}__filter-input", type="#{fieldsetInputType}")

mixin socialsList(classes, links, blockClass, element, linkClass)
	ul(class="#{blockClass} left")
		each social in socials
			- var linkTo = socialsLinks['' + social + '']
			li(class="#{element}")
				a(class="#{linkClass} #{linkClass}_#{social}", href="http://#{linkTo}")
					span.text-hide= linkTo

mixin listSet(blockClass, element, linkClass, linkText)
	ul(class="#{blockClass}")
		each text in linkText
			li(class="#{element}")
				a(class="#{linkClass}", href="#") #{text}

mixin fieldsetMix(vals, inputClass, labelClass, inputType)
	each val, index in vals
		label(class="#{labelClass}") #{val}
			input(type="#{inputType}", value="#{val}", class="#{inputClass}")